<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/materialize.css') }}">
    <script src="{{ url_for('static',filename='scripts/materialize.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bokeh.min.css') }}">
    <script src="{{ url_for('static',filename='scripts/bokeh.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bokeh-widgets.min.css') }}">
    <script src="{{ url_for('static',filename='scripts/bokeh-widgets.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/custom.css') }}">
    {{ bokeh_script|safe }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
      });
    </script>
</head>
<title>Yahara Lake Levels</title>
<header>
    <nav class="blue-grey darken-2 white-text">
        <div class="nav-wrapper">
            <div class="container body">
                <a href="/" class="brand-logo left hide-on-small-only" title="Home page">Yahara Watershed Lake Levels</a>
                <a href="/" class="brand-logo left hide-on-med-and-up" title="Home page" style="font-size: 130%;">Yahara Watershed Lake Levels</a>
                <a href="#" data-target="collapsed-sidenav" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/plot"><i class="material-icons left">timeline</i>View Data</a></li>
                    <li><a href="/db"><i class="material-icons left">get_app</i>Download Data</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="collapsed-sidenav">
        <li><a href="/plot"><i class="material-icons left">timeline</i>View Data</a></li>
        <li><a href="/db"><i class="material-icons left">get_app</i>Download Data</a></li>
    </ul>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer blue-grey darken-2 white-text">
    <div class="container body">
        <a href="/db" class="blue-text text-lighten-4">Download the lake level data</a> used by this website.
        <br>
        <a href="https://www.github.com/kbrose/madison-lake-levels/" class="blue-text text-lighten-4">Fork the open source code</a> powering this website on GitHub.
        <br>
        Data from the <a href="https://waterservices.usgs.gov" class="blue-text text-lighten-4">U.S. Geological Survey</a> is used, including the <a href="https://viewer.nationalmap.gov/advanced-viewer/" class="blue-text text-lighten-4">National Map</a>.
        <br>
        Return to the <a href="/" class="blue-text text-lighten-4">home page</a>.
    </div>
</footer>
</html>
