<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/materialize.css') }}">
    <script src="{{ url_for('static',filename='scripts/materialize.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bokeh.min.css') }}">
    <script src="{{ url_for('static',filename='scripts/bokeh.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bokeh-widgets.min.css') }}">
    <script src="{{ url_for('static',filename='scripts/bokeh-widgets.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/custom.css') }}">
    {{ bokeh_script|safe }}
</head>
<title>Madison Lake Levels</title>
<header>
    <nav>
        <div class="nav-wrapper blue-grey darken-2 white-text">
            <div class="container body">
                <a href="/" class="brand-logo left">Madison Lake Levels</a>
                <ul class="right">
                    <li><a href="/plot"><i class="material-icons left" style="font-size: 40px;">timeline</i>View Data</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer blue-grey darken-2 white-text">
    <div class="container body">
        You can <a href="/db" class="blue-text text-lighten-4">download the lake level data.</a>
        <br>
        The code behind this website is open source, and on <a href="https://www.github.com/kbrose/madison-lake-levels/" class="blue-text text-lighten-4">GitHub</a>.
        <br>
        Data from the <a href="https://waterservices.usgs.gov" class="blue-text text-lighten-4">U.S. Geological Survey</a> is used, including the <a href="https://viewer.nationalmap.gov/advanced-viewer/" class="blue-text text-lighten-4">National Map</a>.
        <br>
        Return to the <a href="/" class="blue-text text-lighten-4">home page</a>.
    </div>
</footer>
</html>
