{% extends "base.html" %}
{% block content %}
{% for lake, status in statuses %}
    <div class="row">
        <div class="col s12">
        <div class="card-panel cyan lighten-2">
            <span class="white-text">
                {% if status %}
                    <h4>{{ lake }} is above its state-required maximum level.</h4>
                {% else %}
                    <h4>{{ lake }} is below its state-required maximum level.</h4>
                {% endif %}
            </span>
        </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
