{% extends "base.html" %}
{% block content %}
<div class="container body">
    {{ date|safe }}
    <br>
    <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/static/imgs/sat-lakes.jpg">
            {% if "Mendota" in high_lakes %}<img class="activator overlay-lake" src="/static/imgs/mendota-overlay.png"> {% endif %}
            {% if "Monona" in high_lakes %}<img class="activator overlay-lake" src="/static/imgs/monona-overlay.png"> {% endif %}
            {% if "Waubesa" in high_lakes %}<img class="activator overlay-lake" src="/static/imgs/waubesa-overlay.png"> {% endif %}
            {% if "Kegonsa" in high_lakes %}<img class="activator overlay-lake" src="/static/imgs/kegonsa-overlay.png"> {% endif %}
        </div>
        <div class="card-content card-title activator">
            <span class="card-title activator">
                <div class="row">
                    <div class="col s11 card-title activator">{{ high_lakes }}</div>
                    <div class="col s1 card-title activator"><i class="material-icons right">arrow_upward</i></div>
                    <div class="col s12 activator card-title" style="font-size: 70%;">Click for details</div>
                </div>
            </span>
        </div>
        <div class="card-reveal">
            <span class="card-title">
                <div class="row card-title">
                    <div class="col s11 card-title">{{ high_lakes }}</div>
                    <div class="col s1 card-title"><i class="material-icons right">arrow_downward</i></div>
                </div>
            </span>
            <table class="">
                <thead style="font-size: 120%;">
                    <tr>
                        <th>Lake</th>
                        <th>Status</th>
                        <th>Distance from max</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lake, is_high, feet_diff, inch_diff in info %}
                        <tr {% if is_high %}class="red lighten-5 bold" style="font-weight: bold"{% endif %}>
                            <td>{{ lake }}</td>
                            <td>{% if is_high %}Too high{% else %}Compliant{% endif %}</td>
                            <td>
                                {% if feet_diff == 1 %}
                                {{ feet_diff }} foot,
                                {% elif feet_diff %}
                                {{ feet_diff }} feet,
                                {% endif %}
                                {{ '%.1f' | format(inch_diff) }}
                                {% if is_high %}
                                inches above max
                                {% else %}
                                inches below max
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h3>What does this mean?</h3>
    <p>
        In 1979 the State of Wisconsin Department of Natural Resources (DNR) issued several orders that together set the maximum and minimum levels of Lakes <a href="https://lwrd.countyofdane.com/documents/pdf/DNR-3-SD-77-808.pdf">Mendota</a>, <a href="https://lwrd.countyofdane.com/documents/pdf/DNR-3-SD-77-819.pdf">Monona</a>, <a href="https://lwrd.countyofdane.com/documents/pdf/DNR-3-SD-77-819.pdf">Waubesa</a>, and <a href="https://pdf.countyofdane.com/lwrd/landconservation/DNR-3-WR-1116.pdf">Kegonsa</a>.
    </p>
    <figure class="container center section">
        <a href="https://lwrd.countyofdane.com/documents/pdf/DNR-3-SD-77-808.pdf">
            <img src="/static/imgs/dnr-order.png" alt="Image of the DNR order setting Mendota's levels." class="responsive-img" style="border: solid 1px grey;">
        </a>
        <figcaption>Snippet from DNR-3-SD-77-808, creating the requirements for Lake Mendota.</figcaption>
    </figure>
    <p>
        Unfortunately, the lake levels have consistently been higher than required. Over the past decade, Lake Mendota spent about one out of every three days above its maximum height. On the other hand, Mendota was only below its minimum level fewer than one out of ten days. The table below summarizes the data from 2008 through 2018 (a total of 3,885 days) for all of the lakes.
    </p>
    <figure class="center section">
        <table>
            <tr>
                <th>Lake</th>
                <th>days spent <i>above max</i> (%)</th>
                <th>days spent <i>below min</i> (%)</th>
            </tr>
            <tr>
                <td>Mendota</td><td>1,292 (33.3%)</td><td>332 (8.5%)</td>
            </tr>
            <tr>
                <td>Monona</td><td>1,737 (44.7%)</td><td>317 (8.2%)</td>
            </tr>
            <tr>
                <td>Waubesa</td><td>1,555 (40.0%)</td><td>293 (7.5%)</td>
            </tr>
            <tr>
                <td>Kegonsa</td><td>1,104 (28.4%)</td><td>298 (7.7%)</td>
            </tr>
        </table>
    </figure>
    This data raises a simple question. <i>Why aren't the lake levels kept within their required ranges?</i>
    <h3>Difficulties in managing levels</h3>
    <p>
        Dane County Parks controls the lake levels with several dams. Even if Dane County wanted to keep the lake levels compliant, Mendota's Summer requirements leave only six inches between minimum and maximum. In comparison, the rainfall in August 2018 caused Mendota to rise a full 16 inches. Getting a lake down to a compliant level is also not as simple as flipping a switch and letting the water out. Slow river flow along the Yahara makes reducing water levels a sluggish process.
    </p>
    <figure class="container center section">
        <img src="/static/imgs/dam.jpg" alt="A picture of Tenney Park Lock and Dam." class="responsive-img">
        <figcaption>The Tenney Park Lock and Dam. Photo taken on August 26, 2018 by Kevin Rose.</figcaption>
    </figure>
    <p>
        The low flow comes in part because of the relative flatness of the Yahara river. According to the "Dane County Lake Level Management Guide for the Yahara Chain of Lakes", the Yahara's height drops less than one inch for every 1,000 feet of length between Kegonsa and the Babcock dam near Waubesa. Combined with heavy vegetation growth and shallow chokepoints, it's amazing the Yahara moves at all.
    </p>
    <figure class="center section">
        <img src="/static/imgs/timeline.png" alt="A timeline of when the lakes are above their maximums." class="responsive-img">
        <figcaption>
            A timeline showing when each lake is above its maximum level. <a href="/plot" class="section">Explore the complete dataset.</a>
        </figcaption>
    </figure>
    <h3>So what can be done?</h3>
    <p>
        In an <a href="https://madison.com/wsj/news/local/govt-and-politics/impatience-surfaces-over-slow-search-for-ways-to-prevent-the/article_f1db97e4-4163-5c54-bc49-e31d0a8751eb.html">interview</a> with the Wisconsin State Journal, Ken Potter, a UW Madison professor of Civil and Environmental Engineering named several steps that could be taken to mitigate flooding. In addition to lowering Lake Mendota, Potter recommended quickening the Yahara through various means, including enhanced aquatic plant harvesting efforts, and better runoff management from farmers. Potter also suggested increasing the amount of protection for the natural wetlands that "prevent floods by acting as natural sponges".
    </p>
    <p>
        The Dane County Board's Lake Levels Task Force issued a <a href="https://lwrd.countyofdane.com/documents/pdf/Yahara-Flooding-Technical-Report-Final.pdf">Technical Work Group Report</a> in Feburary 2019 that proposed additional solutions of dredging the Yahara and pumping water from Waubesa to Badfish Creek. The report found that these solutions had a good impact on lake levels in simulations, but acknowledged their significant monetary costs and potential ecological and archeological impacts.
    </p>
    <p>
        Do some of these solutions sound reasonable to you? Click below to find contact information for your government officials and tell them what you think.
        <ul class="browser-default">
            <li>
                <a href="https://lwrd.countyofdane.com/contact-us" class="collection-item">Dane County Land and Water Resources Department</a>
            </li>
            <li>
                <a href="https://www.cityofmadison.com/mayor/contact" class="collection-item">Madison Mayor's Office</a>
            </li>
            <li>
                <a href="http://maps.legis.wisconsin.gov/#" class="collection-item">Wisconsin state representatives</a>
            </li>
        </ul>
    </p>
    <p>
        If you are looking for a more personal solution, you could also consider creating a rain garden, using a barrel to collect rain water, and using water-permeable surfaces for driveways and patios.
    </p>
</div>
{% endblock %}
