{% extends "base.html" %}
{% block content %}
<div class="row">
{% for lake, is_high, streak, curr_height, max_allowed, total_high in info %}
        <div class="col s12 m6">
        <div class="card-panel {% if is_high %}cyan{% else %}blue-grey{% endif %} lighten-2">
            <span class="white-text">
                {% if is_high %}
                    <h4>{{ lake }} is too high.</h4>
                    It is currently {{ '%0.2f'| format(curr_height - max_allowed|float) }} feet
                    above the maximum allowed level.
                    <br>
                    It has been above the maximum for {{ streak }} days in a row, and it
                    has been above the maximum level {{ total_high }} days since 2007.
                {% else %}
                    <h4>{{ lake }}'s height is fine.</h4>
                    It is currently {{ '%0.2f'| format(max_allowed - curr_height|float) }} feet
                    below the maximum allowed level.
                    <br>
                    It has been below the maximum for {{ streak }} days in a row, but it
                    has been above the maximum level {{ total_high }} days since 2007.
                {% endif %}
            </span>
        </div>
        </div>
{% endfor %}
</div>
<h2>What does this mean?</h1>
It means something.
{% endblock %}
