img.overlay-lake {
    position: absolute !important;
    opacity: 1;
}
.container.body {
    max-width: 800px;
}

.page-footer-padded {
    margin-top: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.no-interaction {
    pointer-events: none;
}
